[[DOC-FRAGMENT]]
<section class="will-navigate page page-404">
	<link rel="stylesheet" href="/404/404.css" type="text/css" />
	<nav>
		<a href="/" class="hideext">Home</a>
		<a href="/atlas/" class="hideext">Atlas</a>
		<a href="/tester/" class="hideext">Tester</a>
		<a href="/files/" class="hideext">Files</a>
		<a href="https://www.github.com/thomas-xin/miza">Code</a>
		<a href="https://discord.gg/cbKQKAr">Support</a>
	</nav>
	<div class="fourohfour-vcenter">
		<div class="fourohfour-hcenter">
			<h1 class="fourohfour-h1 Sparkles">404</h1>
		</div>
	</div>
	<footer>
		<div>
			miza.web 2
			<span class="sep"></span>
			made with ♥ and 🍝
			<span class="sep"></span>
			by <a href="https://github.com/hucario">hucario</a>
		</div>
	</footer>
</section>