[[DOC-FRAGMENT]]
<section class="will-navigate page page-landing">
	<link rel="stylesheet" href="/home/home.css" type="text/css" />
	<nav>
		<a href="/" class="hideext activeNav">Home</a>
		<a href="/atlas/" class="hideext">Atlas</a>
		<a href="/tester/" class="hideext">Tester</a>
		<a href="/files/" class="hideext">Files</a>
		<a href="https://www.github.com/thomas-xin/miza">Code</a>
		<a href="https://discord.gg/cbKQKAr">Support</a>
	</nav>
	<div>
		<div
			class="IsVisible home-hcenter home-slide1"
			data-cn-visible="home-bigOpac"
			data-cn-invisible="home-activePorpoise"
			data-min-shown="70"
		>
			<div class="home-orbitals">
				<img class="home-orbital" style="animation-delay: -0s" alt="Orbital" src="/home/upside_down.svg">
				<img class="home-orbital" style="animation-delay: -4s" alt="Orbital" src="/home/upside_down.svg">
				<img class="home-orbital" style="animation-delay: -8s" alt="Orbital" src="/home/upside_down.svg">
				<img class="home-orbital" style="animation-delay: -12s" alt="Orbital" src="/home/upside_down.svg">
				<img class="home-orbital" style="animation-delay: -16s" alt="Orbital" src="/home/upside_down.svg">
				<img class="home-orbital" style="animation-delay: -20s" alt="Orbital" src="/home/upside_down.svg">
			</div>
			<div class="home-orbitals home-orbs2">
				<img class="home-orbital" style="animation-delay: -0s" alt="Orbital" src="/home/star.svg">
				<img class="home-orbital" style="animation-delay: -4s" alt="Orbital" src="/home/star.svg">
				<img class="home-orbital" style="animation-delay: -8s" alt="Orbital" src="/home/star.svg">
				<img class="home-orbital" style="animation-delay: -12s" alt="Orbital" src="/home/star.svg">
				<img class="home-orbital" style="animation-delay: -16s" alt="Orbital" src="/home/star.svg">
				<img class="home-orbital" style="animation-delay: -20s" alt="Orbital" src="/home/star.svg">
			</div>
			<div class="home-vcenter home-vcfull">
				<div class="home-holder">
					<div
						class="IsVisible home-left"
						data-cn-visible="home-slideIn"
						data-cn-invisible="home-slideOut"
						data-sticky
					>
						<img
							loading="lazy"
							src="/home/logo512.png"
							alt="Miza's avatar"
							class="home-mizaImg home-slider"
						/>
					</div>
					<div class="home-right">
						<h1 class="home-name">Miza</h1>
						<p class="home-exp">is a <span class="home-porpoise">
							multip<span
								class="home-serious"
							>u</span><span
								class="home-nahlmao"
							>o</span>rpo<span 
							class="home-nahlmao"
							>i</span>se<span 
							class="home-nahlmao"
							> </span><span class="home-icon">🐬</span>
						</span> discord bot</p>
					</div>
				</div>
			</div>
		</div>
		<div
			class="IsVisible home-hcenter home-rel home-slide2"
			data-cn-visible="home-nomoreblur"
			data-cn-invisible="home-yeahblur"
			data-min-shown="50"
		>
				<img loading="lazy" src="/home/veryprofessionalserver.png" alt="Miza's Very Professional Server" class="home-coolImgBro" />
				<img loading="lazy" src="/home/monitor.png" alt="Miza's Very Professional Monitor" class="home-coolImgBro home-monitor" />
				<div id="sparkles"></div>
				<div class="home-vcenter home-vc2">
					<div
						class="IsVisible home-holder"
						data-cn-visible="home-slideIn"
						data-cn-invisible="home-isOut"
						data-sticky
					>
						<div class="home-coolTextBro home-slider">
							<h2>Built for speed</h2>
							<p>Miza is written in Python and aggressively optimized. All commands are quick and responsive. Except for downloading youtube playlists with 100+ items. That takes a while.</p>
						</div>
					</div>
				</div>
		</div>
		<div
			class="IsVisible home-hcenter home-rel home-slide3"
			data-cn-visible="home-nomoreblur"
			data-cn-invisible="home-yeahblur"
			data-evts-visible="home-start"
			data-evts-invisible="home-stop"
			data-stickyevt
			data-min-shown="70"
		>
			<div class="home-vcenter home-vc3">
				<div
					class="home-bars"
				>
					<div class="home-bar" style="width: 100%; height: 2vw; background-color: hsl(0deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 80%; height: 1.6vw; background-color: hsl(25deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 64%; height: 1.28vw; background-color: hsl(51deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 51%; height: 1.02vw; background-color: hsl(76deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 40%; height: 0.81vw; background-color: hsl(102deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 32%; height: 0.65vw; background-color: hsl(127deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 26%; height: 0.52vw; background-color: hsl(153deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 20%; height: 0.41vw; background-color: hsl(182deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 16%; height: 0.33vw; background-color: hsl(208deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 13%; height: 0.26vw; background-color: hsl(233deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 10%; height: 0.21vw; background-color: hsl(259deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 8%; height: 0.17vw; background-color: hsl(284deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 6%; height: 0.13vw; background-color: hsl(310deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 5%; height: 0.1vw; background-color: hsl(335deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 4%; height: 0.08vw; background-color: hsl(365deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 3%; height: 0.07vw; background-color: hsl(390deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 2%; height: 0.05vw; background-color: hsl(416deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 2%; height: 0.04vw; background-color: hsl(441deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 1%; height: 0.03vw; background-color: hsl(467deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 1%; height: 0.02vw; background-color: hsl(492deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 1%; height: 0.02vw; background-color: hsl(518deg, 100%, 50%);"></div>
				</div>
				<div
					class="home-bars home-bars2" 
				>
					<div class="home-bar" style="width: 1%; height: 0.02vw; background-color: hsl(518deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 1%; height: 0.02vw; background-color: hsl(492deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 1%; height: 0.03vw; background-color: hsl(467deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 2%; height: 0.04vw; background-color: hsl(441deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 2%; height: 0.05vw; background-color: hsl(416deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 3%; height: 0.07vw; background-color: hsl(390deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 4%; height: 0.08vw; background-color: hsl(365deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 5%; height: 0.1vw; background-color: hsl(335deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 6%; height: 0.13vw; background-color: hsl(310deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 8%; height: 0.17vw; background-color: hsl(284deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 10%; height: 0.21vw; background-color: hsl(259deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 13%; height: 0.26vw; background-color: hsl(233deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 16%; height: 0.33vw; background-color: hsl(208deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 20%; height: 0.41vw; background-color: hsl(182deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 26%; height: 0.52vw; background-color: hsl(153deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 32%; height: 0.65vw; background-color: hsl(127deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 40%; height: 0.81vw; background-color: hsl(102deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 51%; height: 1.02vw; background-color: hsl(76deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 64%; height: 1.28vw; background-color: hsl(51deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 80%; height: 1.6vw; background-color: hsl(25deg, 100%, 50%);"></div>
					<div class="home-bar" style="width: 100%; height: 2vw; background-color: hsl(0deg, 100%, 50%);"></div>
				</div>
				<div
					class="IsVisible home-holder"
					data-cn-visible="home-slideIn"
					data-cn-invisible="home-isOut"
					data-min-shown="70"
					data-sticky
				>
					<div class="home-coolTextBro home-slider">
						<h2>Versatile</h2>
						<p>With <a href="/atlas">over 350 commands</a>, Miza will probably cover all your needs, which means <i>you</i> don't need to get several bots. </p>
					</div>
				</div>
			</div>
		</div>
		<div
			class="IsVisible home-hcenter home-rel home-slide4"
			data-cn-visible="home-nomoreblur"
			data-cn-invisible="home-yeahblur"
			data-min-shown="50"
		>
			<div id="cogs1"></div>
			<div id="cogs2"></div>
			<div class="home-vcenter home-vc2">
				<div
					class="IsVisible home-holder"
					data-cn-visible="home-slideIn"
					data-cn-invisible="home-isOut"
					data-min-shown="70"
					data-sticky
				>
					<div class="home-left">
						<img
							loading="lazy"
							src="/home/mizawrench.png"
							class="home-mizaImg"
							alt="handy miza :)"
						/>
					</div>
					<div class="home-coolTextBro home-slider">
						<h2>Maintained</h2>
						<p>Miza is constantly getting updated by <a href="https://github.com/thomas-xin">Thomas Xin.</a><br />
						<i id="home-commitCount"></i>
						If there's a bug it'll usually be fixed within a day.</p>
					</div>
				</div>
			</div>
		</div>
		<div
			class="IsVisible home-hcenter home-rel home-slide5"
			data-cn-visible="home-nomoreblur"
			data-cn-invisible="home-yeahblur"
			data-min-shown="70"
		>
			<img
				loading="lazy"
				src="/home/mizaleaf.png"
				alt="Miza's doing Very Professional Things"
				class="home-coolImgBro home-mizaleaf"
			/>
			<div id="leaves"></div>
			<div class="home-vcenter home-vc2">
				<div
					class="IsVisible home-holder"
					data-cn-visible="home-slideIn"
					data-cn-invisible="home-isOut"
					data-min-shown="70"
					data-sticky
				>
					<div class="home-coolTextBro home-slider hideext">
						<h2 class="home-center">Get Miza now</h2>
						<div class="home-ctas">
							<a href="https://discordapp.com/oauth2/authorize?permissions=8&client_id=668999031359537205&scope=bot%20applications.commands" >
								Invite
							</a>
							<a href="/self-hosting">
								Self host
							</a>
							<a href="https://discord.com/invite/cbKQKAr">
								Support server
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div>
			miza.web 2
			<span class="sep"></span>
			made with ♥ and 🍝
			<span class="sep"></span>
			by <a href="https://github.com/hucario">hucario</a>
		</div>
	</footer>
	<script src="//unpkg.com/tsparticles@1.33.3/tsparticles.min.js"></script>
	<script async src="/home/hydrate.js"></script>
</section>